<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFdmncd81yc-E9NVXqq1-_jT3tmJUxYqw</string>
	<key>GCM_SENDER_ID</key>
	<string>672825218480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sju.D3N</string>
	<key>PROJECT_ID</key>
	<string>daily3news-6785d</string>
	<key>STORAGE_BUCKET</key>
	<string>daily3news-6785d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672825218480:ios:a72e9e4611789ef4417275</string>
</dict>
</plist>