<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>SERVER_HOST</key>
	<string>$(SERVER_HOST)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>Primary App Icon Set Name</key>
	<string>AppIcon</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleShortVersionString</key>
	<string>2</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleDisplayName</key>
	<string>D3N</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
</dict>
</plist>
