<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>Daily3News 앱에서 사용자에게 맞춤 광고를 위해 추적 권한을 요청합니다</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SERVER_HOST</key>
	<string>$(SERVER_HOST)</string>
	<key>REWARDED_ID</key>
	<array>
		<dict>
			<key>NSMessage</key>
			<string></string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string></string>
			</dict>
		</dict>
	</array>
	<key>OPENAI_API_KEY</key>
	<string>$(OPENAI_API_KEY)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>Primary App Icon Set Name</key>
	<string>AppIcon</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleShortVersionString</key>
	<string>2.5</string>
	<key>CFBundleVersion</key>
	<string>2.5.0</string>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>CFBundleDisplayName</key>
	<string>D3N</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
</dict>
</plist>
